<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.eti.rodrigosiqueira.bigrock">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/lb_initial"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi4GOm-npPLVYtaPOeqdOqzTicEhcnr2M" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BigRockActivity" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SliderTarefas"
            android:label="Big Rocks" />
        <activity
            android:name=".BigRockGridActivity"
            android:label="Lista de Tarefas" />
        <activity android:name=".BigRockFormActivity" />
        <activity
            android:name=".BigRockListActivity"
            android:label="@string/title_activity_big_rock_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BigRocksFullMapActivity"></activity>
    </application>

</manifest>